In [1]:

#page 7 excercise 

import pandas as pd
# importing data for the state Florida
link = 'C:\\Users\\User\\Downloads\\all_040_in_12.P1.csv'
df = pd.read_csv(link)
print(df)

   GEOID  SUMLEV  STATE  COUNTY  CBSA  CSA  NECTA  CNECTA     NAME    POP100  \
0     12      40     12     NaN   NaN  NaN    NaN     NaN  Florida  18801310

     HU100  POP100.2000  HU100.2000   P001001  P001001.2000
0  8989580     15982378     7302947  18801310      15982378

In [2]:
## page 9 excercise 

##imported data from the banking database 

import pandas as pd
Location = "C:\\Users\\User\\Downloads\\BNK01.xls"
df = pd.read_excel(Location)
df.head(5)

,Areaname,STCOU,BNK010180F,BNK010180D,BNK010180N1,BNK010180N2,BNK010185F,BNK010185D,BNK010185N1,BNK010185N2,...,BNK010191N1,BNK010191N2,BNK010192F,BNK010192D,BNK010192N1,BNK010192N2,BNK010193F,BNK010193D,BNK010193N1,BNK010193N2
0,UNITED STATES,0,0,55105,0,0,0,59839,0,0,...,0,0,0,66985,0,0,0,67227,0,0
1,ALABAMA,1000,0,909,0,0,0,997,0,0,...,0,0,0,1195,0,0,0,1218,0,0
2,"Autauga, AL",1001,0,6,0,0,0,6,0,0,...,0,0,0,10,0,0,0,10,0,0
3,"Baldwin, AL",1003,0,23,0,0,0,34,0,0,...,0,0,0,40,0,0,0,40,0,0
4,"Barbour, AL",1005,0,10,0,0,0,10,0,0,...,0,0,0,11,0,0,0,12,0,0